<div class="tbl">
    <br>
    <br>
   <!-- <div style="align-items: center; margin-top: 25vh;"><h1 style="font-family: 'Roboto', sans-serif;; font-style: italic;font: optional; font-size:xx-large;color: rgb(243, 193, 175);"> Welcome to the Go Bus and Book Your Ticket Now</h1></div>  -->
    
     
    <div class="container">
  
      <div class="input-group">
  
        <select class="form-control" id="from">
  
          <option value="">From</option>
  
          <option value="location1">Kochi</option>
  
          <option value="location2">Kollam</option>
  
          <option value="location3">Trivandrum</option>
  
        </select>
  
      </div>
  
      <div class="input-group">
  
        <select class="form-control" id="to">
  
          <option value="">To</option>
  
          <option value="location1">Kottayam</option>
  
          <option value="location2">Palakkad</option>
  
          <option value="location3">Malappuram</option>
  
        </select>
  
      </div>
  
      <div class="input-group">
  
        <input type="date" class="form-control">
  
      </div>
  
      <button class="btn btn-primary search-button" routerLink="/search">Search</button>
  
    </div>
  
  </div>
