<div class="tbl">
  <br>
  <br>
 <!-- <div style="align-items: center; margin-top: 25vh;"><h1 style="font-family: 'Roboto', sans-serif;; font-style: italic;font: optional; font-size:xx-large;color: rgb(243, 193, 175);"> Welcome to the Go Bus and Book Your Ticket Now</h1></div>  -->
  
   
  <div class="container">

    <div class="input-group">

      <select class="form-control" id="from"[(ngModel)]="textbox2" placeholder="From">

       
        <option value="" disabled selected>FROM</option>
        <option *ngFor="let value of dropdownValues" [value]="value" >{{ value }}</option>

        

      </select>

    </div>

    <div class="input-group">

      <select class="form-control" id="to"  [(ngModel)]="textbox3" placeholder="To">

        
        <option value="" disabled selected>TO</option>
        <option *ngFor="let value of dropdownValues" [value]="value" >{{ value }}</option>

      
      </select>

    </div>

    <div class="input-group">

      <input type="date" class="form-control" id="date" [(ngModel)]="textbox1" placeholder="yyyy-mm-dd">

    </div>

    <button class="btn btn-primary search-button"  routerLink="/login">Search</button>

  
    </div>
  
  </div>
