<!-- <div style="height: 50px;"> -->

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" >

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../../assets/carosuel/annie-spratt-tG822f1XzT4-unsplash.jpg" class="d-block w-100" alt="..."  style="height: 490px;object-fit: contain;">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h1 id="f1">Welcome to the Bus Ticket Booking App</h1>
               <p>Book your bus tickets with ease and convenience.</p>
                  <button routerLink="login">Get Started</button>          
          </div>  -->
        </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="../../assets/carosuel/jonathan-borba-LR5O79shvro-unsplash.jpg"class="d-block w-100" alt="..." style="height: 490px;object-fit: contain;">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h1 id="f1">Welcome to the Bus Ticket Booking App</h1>
               <p>Book your bus tickets with ease and convenience.</p>
                  <button routerLink="login">Get Started</button>          
          </div> -->
        </div>
            
          <div class="carousel-item" data-bs-interval="10000">
            <img src="../../assets/carosuel/jonathan-borba-T5jzpRTVF1U-unsplash.jpg" class="d-block w-100" alt="..." style="height: 490px; object-fit: contain;">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h1 id="f1">Welcome to the Bus Ticket Booking App</h1>
               <p>Book your bus tickets with ease and convenience.</p>
                  <button routerLink="login">Get Started</button>          
          </div> -->
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="../../assets/carosuel/mediocre-studio-CrwmXVbxxZs-unsplash.jpg" class="d-block w-100" alt="..." style="height: 490px;object-fit: contain;">
          <!-- <div class="carousel-caption d-none d-md-block">
              <h1 id="f1">Welcome to the Bus Ticket Booking App</h1>
             <p>Book your bus tickets with ease and convenience.</p>
                <button routerLink="login">Get Started</button>          
        </div> -->
      </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
