<footer class="contact-footer" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Contact Information</h4>
          <p><i class="fa fa-map-marker"></i> 123 Street, City, Country</p>
          <p><i class="fa fa-phone"></i> +1 234 567 890</p>
          <p><i class="fa fa-envelope"></i> info@example.com</p>
        </div>
        <div class="col-md-6">
          <h4>Follow Us</h4>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
