
<!-- <div class="body">




    <div class="row">

 

      <div class="col-sm-4" *ngFor="let b of schedule; let i = index;">

 

        <div class="row">

 

          <div class="col-sm-12">

 

            <div class="card d-flex flex-column my-3"> 

 

              <p>Schedule Id:{{schedule[i].scheduleId}}</p><br>

              <p>Date:{{schedule[i].date}}</p><br>

              <p>Departure Time:{{schedule[i].departureTime}}</p><br>

              <p>Arrival Time:{{schedule[i].arrivalTime}}</p><br>

              <p>Route Id:{{schedule[i].routeId}}</p><br>

              <p>Bus Id:{{schedule[i].busId}}</p>

            </div>

 

          </div>

 

        </div>

 

      </div>

 

    </div>

 

  </div> -->





  <app-adminnav></app-adminnav>

<div class="container">

    <table class="table table-striped">

        <thead>

            <tr>

                <th>Schedule Id</th>

                <th>Date</th>

                <th>Departure Time</th>

                <th>Arrival Time</th>

                <th>Route Id</th>

                <th>Bus Id</th>

            </tr>

        </thead>

        <tbody *ngFor="let b of schedule; let i = index;">

            

            <tr>

                <td>{{schedule[i].scheduleId}}</td>

                <td>{{schedule[i].date}}</td>

                <td>{{schedule[i].departureTime}}</td>

                <td>{{schedule[i].arrivalTime }}</td>

                <td>{{ schedule[i].routeId }}</td>

                <td>{{ schedule[i].busId }}</td>

            </tr>

            

        </tbody>

    </table>

</div>
