

   

   

 

  .container {

   

   

    width: 60%;

    border: 1px solid #ccc;

    padding: 20px;

    margin-top: 100px;

    background-color: #71b4bd;

    border-radius: 10px;

   

  }

 

  .btn-container {

   

 

    display: flex;

    justify-content: center;

    flex-wrap: wrap;

  }

 

  .btn-container button {

    flex-basis: 45%;

    height: 160px;

   

    margin-bottom: 20px;

    margin-right: 20px;

    transition: all 0.3s ease;

  }

 

  .btn-container button:hover {

    transform: scale(1.1);

  }

  h1 {

    font-size: 30px;

    font-weight: bold;

    color: rgb(15, 14, 14);

    margin-bottom: 30px;

  }

  .btn-container {

    margin-top: 30px;

  }

  .btn {

    padding: 12px 20px;

    font-size: 18px;

    font-weight: bold;

   

  }

  .btn-primary {

    background-color: #007bff;

    border-color: #007bff;

  }

  .btn-primary:hover {

    background-color: #0069d9;

    border-color: #0062cc;

  }

  .btn-success {

    background-color: #28a745;

    border-color: #28a745;

  }

  .btn-success:hover {

    background-color: #218838;

    border-color: #1e7e34;

  }

  .btn-info {

    background-color: #17a2b8;

    border-color: #17a2b8;

  }

  .btn-info:hover {

    background-color: #138496;

    border-color: #117a8b;

  }

 

  /* .logo {

 

    width: 150px;

    height: 150px;

    position: absolute;

    top: 0;

    left: 0;

    margin-left: 30px;

     

  } */

  /* .logout-container {

    position: absolute;

    top: 20px;

    right: 20px;

  }

 

 

  .logout-button {

    background-color: #dc3545;

    color: #fff;

    border: none;

    padding: 10px 20px;

    border-radius: 4px;

    cursor: pointer;

    transition: background-color 0.3s ease;

    outline: none;

   

  } */

 

  /* .logout-button:hover {

    background-color: #c82333;

    outline: none;

  }

  .user-image{

    width: 80px;

    height:75px;

   

  }

  .user-profile{

    margin-right: 10px;

  } */