

<app-adminnav></app-adminnav>
<h1 class="display-5 text-center">Welcome, Admin</h1>

<div class="container ">

  <div class="row">

    <div class="col-md-6 offset-md-3">

      <div class="text-center">

       

      </div>

      <div class="mt-4 btn-container d-flex justify-content-center">

        <button class="btn btn-primary btn-lg mr-3 btn-rounded" routerLink="/addschedule">Add</button>

        <button class="btn btn-success btn-lg mr-3 btn-rounded" routerLink="/viewschedule">View</button>

       

      </div>

    </div>

  </div>

</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
