<section class="about-us" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about-image">
            <img src="../../assets/image/bus3.jpg" alt="Bus Image" class="circular-image" class=" user-image rounded-circle">
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-content">
            <h1><b><i>_________About Us_________</i></b></h1>
            <i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin gravida ultricies sapien, ut pretium lorem fermentum vel. Nulla facilisi. Curabitur nec bibendum urna, ac varius nisi. Aliquam ut venenatis tortor, nec rhoncus arcu. Nullam aliquet erat in consequat ultricies. Donec hendrerit condimentum est, in condimentum dolor feugiat non. Mauris hendrerit eros vitae enim iaculis sollicitudin. Vestibulum dapibus fringilla luctus.</p>
            <p>Fusce gravida tellus ut lacus consectetur, at commodo odio feugiat. Sed blandit tristique mauris vitae ultrices. Suspendisse lacinia augue id enim venenatis hendrerit. Ut id ullamcorper nisi. Suspendisse quis viverra turpis, id facilisis massa. Aliquam at nulla quis nibh bibendum faucibus. Duis dapibus, magna a porta facilisis, tortor justo semper tortor, nec interdum ex metus vitae tortor. Etiam ut finibus dolor. Fusce at bibendum nulla, sit amet hendrerit est.</p>
        </i><!-- <p>Phasellus ac nisl eu enim varius pellentesque nec vitae turpis. Vivamus id placerat lectus. Proin sit amet turpis eleifend, bibendum tellus et, euismod urna. Integer ut turpis vitae lectus placerat faucibus in et mauris. Nullam maximus feugiat justo, sit amet aliquet urna lacinia vel. Ut tempus mi eu turpis efficitur, et condimentum tortor dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut condimentum vitae metus vitae tincidunt. Donec sagittis dignissim pulvinar.</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  

