


  @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');




  /*
    
     font-family: 'Poppins', sans-serif;
    
      font-size: 16px;
    
      line-height: 24px;
    
      font-weight: 400;
    
      color: #212112; */
  
  
  
  
  .logosc {
  
  
  
   height: 70px;
  
    object-fit: contain;
  
  
  /* 
    max-height: 100px;
  
  
  
    max-width: 200px; */
  
    /* background-blend-mode: lighten; */
  
  }
  
  
  
  
  .navbar-brand {
  
    padding-left: 15px;
  
    font-size: 18px;
  
    font-weight: 600;
  
  }
  
  
  
  
  .nav-item {
  
    color: #000;
  
    font-size: 16px;
  
    font-weight: 500;
  
    font-family: 'Poppins', sans-serif;
  
    padding-right: 10px;
  
    justify-content: end;
  
  
  
    /* margin-top: 10px; */
  
  
  
  
  }
  
  
  
  
  .navbar-nav .nav-link:hover {
  
    font-size: 16px;
  
    font-weight: 600;
  
  
  
  }
  
  .navbar-nav .nav-link {
  
    /* width: 120px; */
  
    transition: color 0.3s ease-in-out;
    /* Add transition property for smooth effect */
  
  }
  
  
  
  
  .btncss {
  
    align-items: end;
  
    background-color: #E1E1E1;
  
    text-decoration: none;
  
  
  
  
  
  
  }
  
  .highlight-button {
  
    border: 2px solid #000;
  
    display: inline-block;
  
    padding-top: 5px;
  
    padding-bottom: 5px;
  
    padding-left: 20px;
  
    padding-right: 20px;
  
    font-size: 14px;
  
    font-weight: 500;
  
    color: #000;
  
    background-color: transparent;
  
    text-decoration: none;
  
  }
  
  
  
  
  .highlight-button:hover {
  
    background-color: #000;
  
    border: 2px solid #000;
  
    color: #fff
  }
  
  
  
  
  .highlight-button i {
  
    color: #000
  }
  
  
  
  
  .highlight-button:hover i {
  
    color: #fff
  }
  
  
  
  
  
  
  .imgsize {
  
    width: 10px;
  
    height: 10px;
  
    object-fit: contain;
  
  }
  
  
  
  
  .custom-navbar {
  
  
  
  
    background: rgba(103, 74, 52, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
  
  }
  
  
  
  
  .listgg {
  
    margin-right: 30px;
  
  
  
  }