




  <nav class="navbar navbar-expand-lg navbar-light  custom-navbar">

    <div class="container-fluid">
  
      <img src="../../assets/image/logo (2).png" alt="logo" class="logosc" srcset="">
  
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
  
        <span class="navbar-toggler-icon"></span>
  
      </button>
  
      <div class="collapse navbar-collapse" id="navbarScroll">
  
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll listgg" style="--bs-scroll-height: 100px;">
  
          <li class="nav-item">
  
            <a class="nav-link active" aria-current="page" href="#">Home</a>
  
          </li>
  
           <li class="nav-item">
  
            <a class="nav-link "> My Ticket</a>
  
          </li> 
          <!--
          <li class="nav-item">
  
            <a class="nav-link" href="#">Bus Details</a>
  
          </li> -->
  
         <li class="nav-item">
  
            <a class="nav-link"  href="#contact">Contact Us</a>
  
          </li>
  
          <li>
  
            <div class="col-md-12 col-sm-12 center-col text-center">
  
              <a href="#" class="highlight-button btn-large button xs-margin-bottom-five btncss"
  
                data-abc="true"><i class=""></i>Log Out </a>
  
            </div>
  
          </li>
   
        </ul>
  
       
  
      </div>
  
    </div>
  
  </nav>
