body {

    background-color: #fffffff2;
  
    color: #fff;
  
    height: 100vh;
  
    margin: 0;
  
  }
  
  
  
  
  .dark-theme .container {
  
    background-color: #ffffff;
  
   
  
    /* height: 100%; */
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
  }
  
  .dark-theme .seats-container {
  
    display:contents;
  
    grid-template-columns: repeat(6, 1fr);
  
    grid-gap: 100px;
  
  }
  
  
  
  
  .dark-theme h1,
  
  .dark-theme p {
  
    color: #fff;
  
    text-align: center;
  
  }
  
  
  
  
  .dark-theme .card {
  
    background-color: rgb(67, 240, 93);
  
    max-width: 1000px;
  
    margin-bottom: 20px; /* Added margin bottom for spacing */
  
    border-radius: 10px;
  
  }
  
  
  
  
  .dark-theme .card-body {
  
    padding: 40px;
  
  }
  
  
  
  
  .dark-theme .form-group label {
  
    color: #fff;
  
    font-weight: bold;
  
  }
  
  
  
  
  .dark-theme .form-control {
  
    background-color: #ffffff;
  
    color: rgb(13, 4, 4);
  
    border-color: #ffffff;
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .dark-theme .form-control:hover {
  
    background-color: #e4d7fa;
  
   
  
  }
  
  
  
  /* Added custom CSS for arranging form elements */
  
  .form-group {
  
    display: flex;
  
    flex-wrap: wrap;
  
    gap: 20px;
  
  }
  
  
  
  .form-group label {
  
    flex-basis: 100%;
  
  }
  
  
  
  @media (min-width: 576px) {
  
    .form-group label {
  
      flex-basis: 50%;
  
    }
  
  }
  
  
  
  @media (min-width: 768px) {
  
    .form-group label {
  
      flex-basis: 33.33%;
  
    }
  
  }
  
  
  
  @media (min-width: 992px) {
  
    .form-group label {
  
      flex-basis: 25%;
  
    }
  
  }