<app-nav2></app-nav2>

<div class="tbl">
  <br>
  <br>
 <!-- <div style="align-items: center; margin-top: 25vh;"><h1 style="font-family: 'Roboto', sans-serif;; font-style: italic;font: optional; font-size:xx-large;color: rgb(243, 193, 175);"> Welcome to the Go Bus and Book Your Ticket Now</h1></div>  -->
  
   
  <div class="container">

    <div class="input-group">

      <select class="form-control" id="from"[(ngModel)]="textbox2" placeholder="From">

       
        <option value="" disabled selected>FROM</option>
        <option *ngFor="let value of dropdownValues" [value]="value" >{{ value }}</option>

        

      </select>

    </div>

    <div class="input-group">

      <select class="form-control" id="to"  [(ngModel)]="textbox3" placeholder="To">

        <option value="" disabled selected>TO</option>

        <option *ngFor="let value of dropdownValues" [value]="value" >{{ value }}</option>

      
      </select>

    </div>

    <div class="input-group">

      <input type="date" class="form-control" id="date" [(ngModel)]="textbox1" placeholder="yyyy-mm-dd">

    </div>

    <button class="btn btn-primary search-button"  (click)="search()" (click)="searchbus()"(click)="getfare()">Search</button>

 
  </div>
  <div style="font-weight: bold;margin-left: 600px;" class="error-message"  color="red">
    {{ errorMessage }}
  </div>
  




  <div *ngIf="schedules.length > 0">
    <table>
      <thead>
        <tr>
          <th >Date</th>
          <th >Departure Time</th>
          <th >Arrival Time</th>
          <th >Bus RegNo</th>
          <th >Bus Name</th>
          <th >Bus Type</th>
          <th >Total Seats</th>
          <th >Fare</th>
          <th>Book Now</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules; let i = index">
          <td>{{ schedule.date }}</td>
          <td>{{ schedule.departureTime }}</td>
          <td>{{ schedule.arrivalTime }}</td>
          <td>{{ busDto[i].regNo }}</td>
          <td>{{ busDto[i].busName }}</td>
          <td>{{ busDto[i].busType }}</td>
          <td>{{ busDto[i].totalSeats }}</td>
          <td>{{ fare[i] }}</td>
         
          <td><button type="submit" (click)="getseats(schedule.scheduleId)"(click)="setfare(fare[i])"(click)="set()" routerLink="/seats">VIEW SEATS</button></td>
        </tr>
      </tbody>
    </table>

</div>
<div style="margin-top: 180px;"></div>
<app-description1></app-description1>
<app-footer></app-footer>