<html>
  <head>
    <style>
      .awesome-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.awesome-table th,
.awesome-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.awesome-table th {
  background-color: #4CAF50;
  color: white;
}

.awesome-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.awesome-table tbody tr:hover {
  background-color: #ddd;
}

    </style>
  </head>
<body>
  
  <label for="starting-point">Starting Point:</label>
<select id="starting-point" [(ngModel)]="textbox2">
  <option *ngFor="let value of dropdownValues" [value]="value">{{ value }}</option>
</select><br><br>

<label for="destination-point">Destination Point:</label>
<select id="destination-point" [(ngModel)]="textbox3">
  <option *ngFor="let value of dropdownValues" [value]="value">{{ value }}</option>
</select><br><br>
  Date : <input type="date" [(ngModel)]="textbox1" placeholder="yyyy-mm-dd"><br><br>
  <button (click)="search()" (click)="searchbus()" (click)="getfare()">Search</button><br><br><br>
  <div>
    <table class="awesome-table">
      <thead>
        <tr>
         
          <th>Date</th>
          <th>Departure Time</th>
          <th>Arrival Time</th>
         
          <th>Bus No</th>
          <th>Bus Name</th>
          <th>Bus Type</th>
          <th>Total Seats</th>
          <th>Fare</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules; let i = index">
         
          <td>{{ schedule.date }}</td>
          <td>{{ schedule.departureTime }}</td>
          <td>{{ schedule.arrivalTime }}</td>
        
          <td>{{ busDto[i].busNo }}</td>
          <td>{{ busDto[i].busName }}</td>
          <td>{{ busDto[i].busType }}</td>
          <td>{{ busDto[i].totalSeats }}</td>
          <td>{{fare[i]}}</td>
          <td><button type="submit">BOOK</button></td>
        </tr>
      </tbody>
    </table><br><br><br>
    
    <!-- <table class="awesome-table">
      <thead>
        <tr>
          <th>Bus ID</th>
          <th>Bus No</th>
          <th>Bus Name</th>
          <th>Bus Type</th>
          <th>Total Seats</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of busDto">
          <td>{{ b.busId }}</td>
          <td>{{ b.busNo }}</td>
          <td>{{ b.busName }}</td>
          <td>{{ b.busType }}</td>
          <td>{{ b.totalSeats }}</td>
        </tr>
      </tbody>
    </table> -->
  </div>
  
</body>
</html>