
<section class="services">

    <div class="container">

      <h1 class="text-center pt-5"><strong>Our Services</strong> </h1>

      <div class="row mt-5 p-md-4">

        <div class="col-md-3">

          <div class="service-item text-center">

            <img

              src="../../assets/card/kisspng-ticket-computer-icons-clip-art-5b006489645e66.5449150615267523934111 (1).png"

              alt="icon" class="serviceicon">

            <h3 class="service-title"><strong>Ticket Booking</strong>  </h3>

          <p class="service-description">

            <strong> Easily book bus tickets by browsing through a variety of bus operators. Explore multiple routes, select your preferred date and time, and conveniently make your reservation.

                </strong>

            </p>

           

          </div>

        </div>
        <div class="col-md-3">

            <div class="service-item text-center">
  
              <img
  
                src="../../assets/card/bus-stop-icon-16.jpg"
  
                alt="icon" class="serviceicon">
  
              <h3 class="service-title"><strong>Find Routes</strong> </h3>
  
              <p class="service-description">
  
               
  
                <strong>Find bus routes conveniently by browsing through a wide selection of bus operators. Explore various destinations, choose your desired date and time, and book your preferred route hassle-free.
                </strong>
  
              </p>
  
             
  
            </div>
  
          </div>
          <div class="col-md-3">

            <div class="service-item text-center">
  
              <img
  
                src="../../assets/card/daca41214b39c5dc66674d09081940f0.png"
  
                alt="icon" class="serviceicon">
  
              <h3 class="service-title"><strong>Search Bus</strong> </h3>
  
              <p class="service-description">
  
                
  
                <strong>Effortlessly search for bus services by exploring a diverse range of bus operators. Browse through multiple routes, select your preferred travel date and time, and easily book your bus tickets.</strong>
  
              </p>
  
             
  
            </div>
  
          </div>
          <div class="col-md-3">

            <div class="service-item text-center">
  
              <img
  
                src="../../assets/card/favpng_sitting-chair-table-clip-art.png"
  
                alt="icon" class="serviceicon">
  
              <h3 class="service-title"><strong>Seat Selection</strong></h3>
  
              <p class="service-description">
  
  
                <strong>Users can view the seating layout of the buses and choose their preferred seats. The application often provides a graphical representation of the bus layout, allowing users to select seats based on their preferences.</strong>
  
              </p>
  
             
  
            </div>
  
          </div>
          </div>
          </div>

        

  </section>

