<app-adminnav></app-adminnav>
<!-- <div class="body">




    <div class="row">

 

      <div class="col-sm-4" *ngFor="let b of bus; let i = index;">

 

        <div class="row">

 

          <div class="col-sm-12">

 

            <div class="card d-flex flex-column my-3"> 

 

              <p>Bus Id:{{bus[i].busId}}</p><br>

              <p>Bus Name:{{bus[i].busName}}</p><br>

              <p>Bus Number:{{bus[i].busNo}}</p><br>

              <p>Registration Number:{{bus[i].regNo}}</p><br>

              <p>Engine Number:{{bus[i].engineNo}}</p><br>

              <p>Total Seats:{{bus[i].totalSeats}}</p>

            </div>

 

          </div>

 

        </div>

 

      </div>

 

    </div>

 

  </div> -->

<div class="container">
	
	<div class="table">
		<div class="table-header"  >
			<div class="header__item">Bus Id</div>
			<div class="header__item">Bus Name</div>
			<div class="header__item">Bus TYpe</div>
			<div class="header__item">Registration Number</div>
			<div class="header__item">Engine Number</div>
      <div class="header__item">Total Seats</div>
		</div>
		<div class="table-content">	
			<div class="table-row" *ngFor="let b of bus; let i = index;">		
				<div class="table-data">{{bus[i].busId}}</div>
				<div class="table-data">{{bus[i].busName}}2</div>
				<div class="table-data">{{bus[i].busType}}</div>
				<div class="table-data">{{bus[i].regNo}}</div>
				<div class="table-data">{{bus[i].engineNo}}</div>
        <div class="table-data">{{bus[i].totalSeats}}</div>
			</div>
			
		</div>	
	</div>
</div>
