.landing{
    /* background-color: white; */
    /* From https://css.glass */
background: rgba(219, 188, 188, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.6px);
-webkit-backdrop-filter: blur(2.6px);
border: 1px solid rgba(219, 188, 188, 0.46);
  }