<!DOCTYPE html>

<html>

<head>

  <title>Seat Availability</title>

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

  <style>

   

  </style>

</head>

<body class="dark-theme" style="margin-top: 0px;">
  <!-- <button (click)="process()">LOAD</button> -->

  <div >

    <div class="card">

      <div class="card-body">

        <h1>Seat Availability</h1>

        <p>Select a seat to book for your journey.</p>
        <!-- style="margin-left: 27px;" -->

        <div class="seats-container">

          <div *ngFor="let seat of seats; let i = index" >{{i+1}}

            <div class="seat" [ngClass]="{'temporarily-booked': seat ==='temporarily-booked','booked': seat === 'booked'}" (click)="toggleSeatStatus(i)"></div>

          </div> 

        </div>
        <!-- <img style="margin-left: 158px;"  src="https://www.shutterstock.com/image-vector/smiling-happy-public-transport-driver-600w-1283302042.jpg" width="50px" height="50px"> -->

        

      </div>

    </div>
    <div *ngIf="bookedSeats.length> 0">
    <button style="margin-left: 50px;" class="btn btn-primary" (click)="set()" routerLink="/passenger">Add {{seatNo}}  Passenger Details</button>
    </div>
  </div>

  

</body>

</html>