<div class="card"> 
  <button class="dismiss" type="button">×</button> 
  <div class="header"> 
      <div class="typewriter">
          <div class="slide"><i></i></div>
          <div class="paper"></div>
          <div class="keyboard"></div>
      </div>
         <div class="content">
         <span class="title">Verify Your Ticket</span>  
         </div> 
         <br>
         <div class="details">

          <div class="form-group row">
  
            <label class="col-sm-5 col-form-label text-right"><b> Source:</b></label>
  
            <div class="col-sm-7">
              
              <p id="source" style="padding-top: 8px;">Your Source</p>
  
            </div>
  
          </div>
  
  
  
  
          <div class="form-group row">
  
            <label class="col-sm-5 col-form-label text-right"><b> Destination:</b> </label>
  
            <div class="col-sm-7">
  
              <p id="destination"  style="padding-top: 8px;">Your Destination</p>
  
            </div>
  
          </div>
  
  
  
  
          <div class="form-group row">
  
            <label class="col-sm-5 col-form-label text-right"><b>Bus Type:</b> </label>
  
            <div class="col-sm-7">
  
              <p id="bus-type"  style="padding-top: 8px;">Bus Type</p>
  
            </div>
  
          </div>
  
  
  
  
          <div class="form-group row">
  
            <label class="col-sm-5 col-form-label text-right"><b>Bus Name:</b> </label>
  
            <div class="col-sm-7">
  
              <p id="bus-name"  style="padding-top: 8px;">Bus Name</p>
  
            </div>
  
          </div>
  
  
  
  
          <div class="form-group row">
  
            <label class="col-sm-5 col-form-label text-right"><b>Date:</b> </label>
  
            <div class="col-sm-7">
  
              <p id="date"  style="padding-top: 8px;">Date</p>
  
            </div>
  
          </div>
  
  
  
  
          <div class="form-group row">
  
            <label class="col-sm-5 col-form-label text-right"><b>Passenger Details:</b> </label>
  
            <div class="col-sm-7">
  
              <p id="passenger-details"  style="padding-top: 8px;">Passenger Details</p>
  
            </div>
  
          </div>
  
  
  
  
          <div class="form-group row">
  
            <label class="col-sm-5 col-form-label text-right"><b>Seat Number:</b></label>
  
            <div class="col-sm-7">
  
              <p id="seat-number"  style="padding-top: 8px;">Seat Number</p>
  
            </div>
  
          </div>
  
        </div>
         <div class="actions">
          <h1 class="fare">Fare: $<span id="fare">0</span></h1>
          <a class="fancy" href="#">
              <span class="top-key"></span>
              <span class="text">Buy Tickets</span>
              <span class="bottom-key-1"></span>
              <span class="bottom-key-2"></span>
            </a>
            <!-- <button class="track" type="button">Track my package</button>  -->

            
            </div> 
            </div> 
            </div>
