
 
   
   
    <div class="details">

      <div class="form-group row">
        <label class="col-sm-5 col-form-label text-right"><b>Source:</b></label>
        <div class="col-sm-7">
          <p id="source">{{source}}</p>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-5 col-form-label text-right"><b>Destination:</b></label>
        <div class="col-sm-7">
          <p id="destination">{{destination}}</p>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-5 col-form-label text-right"><b>Bus Type:</b></label>
        <div class="col-sm-7">
          <p id="bus-type">{{bustype}}</p>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-5 col-form-label text-right"><b>Bus Name:</b></label>
        <div class="col-sm-7">
          <p id="bus-name">{{busname}}</p>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-5 col-form-label text-right"><b>Date:</b></label>
        <div class="col-sm-7">
          <p id="date">{{date}}</p>
        </div>
      </div>

      <div class="form-group" *ngFor="let passenger of passengers; let i = index">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label text-right"><b>Passenger {{i+1}} Details:</b></label>
          <div class="col-sm-7">
            <p class="passenger-detail"><span>Name:</span> {{passengerDto[i].name}}</p>
            <p class="passenger-detail"><span>Age:</span> {{passengerDto[i].age}}</p>
            <p class="passenger-detail"><span>Gender:</span> {{passengerDto[i].gender}}</p>
            <p class="passenger-detail"><span>Email:</span> {{passengerDto[i].email}}</p>
            <p class="passenger-detail"><span>Mobile No:</span> {{passengerDto[i].mobileNo}}</p>
            <p class="passenger-detail"><span> Seat No:</span> {{numofseats[i]}}</p>
          </div>
        </div>
      </div>
      <div class="actions">
        <h1 style="margin-left: 500px;" class="fare">Fare: <span id="fare">{{fare}}</span></h1>
      </div>
    </div>
   
 

